$padding: 10px;
$margin: 2px;
$container-height: calc(100% - ($margin * 2));

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  padding: $padding;
  height: 100%;
  border-radius: 8px;

  .title {
    font-weight: bold;
    height: 10%;
    display: flex;
    align-items: center;
    // max-height: 10px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;  
  }
}