table {
  width: 100%;

  th, td {
    padding-left: 5px;
  }

  td {
    border-top: 1px solid #353535;
    border-right: 1px solid #353535;
    background-color: #1f1f1f;
  }

  .status {
    display: flex;
    align-items: center;

    ion-icon {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}