<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row my-3">
      <div class="col text-right">
        <ion-button id="open-form-modal">Add new integration</ion-button>

        <ion-modal #modal trigger="open-form-modal">
          <ng-template>
            <ion-segment [(ngModel)]="selectedSegment">
              <ion-segment-button value="custom">
                <ion-label>Custom</ion-label>
              </ion-segment-button>
              <ion-segment-button value="supported">
                <ion-label>Supported</ion-label>
              </ion-segment-button>
            </ion-segment>
            
            <ion-content class="ion-padding" [ngSwitch]="selectedSegment">
              <app-custom-integration *ngSwitchCase="'custom'"></app-custom-integration>
              <app-supported-integration *ngSwitchCase="'supported'"></app-supported-integration>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    <div *ngFor="let app of allApps" class="row">
      <div [ngSwitch]="app.type">
        <app-proxmox *ngSwitchCase="'proxmox'" [app]="app"></app-proxmox>

        <div *ngSwitchDefault class="col-sm-12 col-md-4">
          <ion-card>
            <ion-card-header>
              <ion-card-title (click)="goToApp(app.full_url!)">{{app.name}}</ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>



    <div class="row" *ngIf="allApps.length; else noApps">
    </div>

    <ng-template #noApps>
      <div class="col text-right">
        <ion-button (click)="openFormModal()">Add new app</ion-button>
      </div>
    </ng-template>


  </div>
</ion-content>