#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.proxmox-node {
  --background: #000;
}

ion-card {
  border-radius: 15px;

  &.app {
    width: fit-content;
    transition: border 0.3s ease;

    &:hover {
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.411);
    }
  }
}

ion-modal {
  --width: 60%;
  --height: 100%;

  ion-content {
    height: fit-content;
  }
}