<ion-card>
  <ion-card-header>
    <ion-card-title (click)="goToApp(proxmoxUrl)">Proxmox</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="proxmox-node" *ngFor="let node of nodes">
      <ion-card-header>
        <ion-card-title>
          {{node.node}}
        </ion-card-title>
        <ion-card-subtitle>
          <ion-chip color="{{node.status == 'online' ? 'success' : 'danger'}}">{{node.status}}</ion-chip>
          <ion-chip>{{node.uptime | convertSeconds}}</ion-chip>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-padding" slot="content">
          <app-server-stats [node]="node"></app-server-stats>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>