<app-card [title]="'Storage Pools'">
  <div id="progress-container">
    <div *ngFor="let item of storage; trackBy:trackStorage" id="storage-container">
      <span class="storage-name">{{item.storage}} ({{item.type}})</span>
      <app-progress-bar [value]="item.used_fraction"></app-progress-bar>
      <span
        [style.color]="item.used_fraction * 100 < 30 ? '#74BF6B': item.used_fraction * 100 < 70 ? '#DAB01B' : '#D34039'"
        class="storage-used">{{(item.used_fraction * 100).toFixed(1)}} %</span>
    </div>
  </div>
</app-card>