#progress-container {
  width: 100%;
}

.storage-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .storage-name-container{
    display: flex;
    justify-content: space-between;

    .storage-name {
      width: 25%;
    }
  
    .storage-used {
      font-size: 14pt;
    }
  }


  app-progress-bar {
    height: 100%;
  }
}