<app-card [title]="'Storage Pools'">
  <div id="progress-container">
    <div *ngFor="let item of storage; trackBy:trackStorage" class="storage-container">
      <div class="storage-name-container">
        <span class="storage-name">{{item.storage}} ({{item.type}})</span>
        <span>({{item.used | convertBytes}} of {{item.total | convertBytes}})</span>
        <span [style.color]="getItemColor(item.used_fraction)" class="storage-used">{{(item.used_fraction * 100).toFixed(1)}} %</span>
      </div>
      <app-progress-bar 
        [value]="item.used_fraction"
        [backgroundColor]="getItemColor(item.used_fraction)">
      </app-progress-bar>
    </div>
  </div>
</app-card>