#summary-container {
  width: 100%;
  
  .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  
    .summary-name-container {
      display: flex;
      justify-content: space-between;
  
      .summary-used {
        font-size: 14pt;
      }
    }
    
    app-progress-bar {
      height: 100%;
    }
  }
}