table {
  width: 100%;

  th, td {
    padding-left: 5px;
  }

  td {
    border-top: 1px solid #353535;
    border-right: 1px solid #353535;
    background-color: #1f1f1f;
  }

  // th {
  //   display: flex;
  //   align-items: center;
  // }
}